#gamebod{
    border-style: solid;
    display: inline-block;
    margin-left: 200px;
    margin-right: 200px;
}
.header{
    text-align: center;
}
.hotbod{
    text-align: center;
    border-style: dashed;
    display: inline-block;
    background-color: palevioletred;
}
.imageclue{
    border-style: dashed;
    display: inline-block;
    margin-top: 0px;   
    
}
audio{
    clear: both;
    display: inline-block;
}